@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap');

* {
    /* color: #457789;
    color: #6d9fac;
    color: #7d90ae;
    color: #807cb5;
    color: #a36a9c;
    color: #884676;
    color: #296385;
    color: #457789;
    color: #b5c99a;
    color: #899d6b; */
    font-family: "Merriweather", sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(#457789, #143d55) !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #93b6b6 !important;
    border: 1px solid #061c29 !important;
    border-radius: 7px !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #807cb5 !important;
    border: 1px solid rgb(30, 9, 148) !important;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Merriweather', serif;
    width: 100%;
    overflow-x: hidden;
}

.bg-video {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: .15; */
    overflow: hidden; }
    .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }

h1{
    font-family: "Dancing Script", cursive;
    font-size: 5.625rem;
    color: #93b6b6;
    line-height: 2;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    color: #66bfbf;
    font-weight: normal;
    font-size: 2.5rem;
}

h3 {
    color: #b5c99a;
    font-size: 2.125rem;
}

hr {
    border-color: #b5c99a;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
}

p {
    font-size: 18px;
    line-height: 2;
    color: #66bfbf;
    margin: 2rem;
}

.top-container {
    background-image: linear-gradient(#1c689a ,#1c689ad3);
    position: relative;
    padding-top: 100px;
    margin: 0;
}

.middle-section {
    background-image: linear-gradient(#1c689ad3, #14557aad);
    margin: 0;
}

.portfolio-projects {
    background-image: linear-gradient(#14557aad, #09293bbd);
}

.contact-me-container {
    background-image: linear-gradient(#09293bbd, #061c29);
    margin: 0;
}


.container {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    max-height: 435px;
    margin: 0 1rem 1rem;
    transition: transform 0.7s ease-in-out, max-height 0.7s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    max-height: 1000px;
    transition: transform 0.7s ease-in-out, max-height 0.7s ease-in-out;
    z-index: 0;
}

.card-header {
    height: 200px;
}


.card-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-header img:hover {
    transform: scale(1.04);

}

.card-content {
    background-color: #061c29;
    padding-top: 30px;
}

.card-title {
    height: 20px;
    margin: 0 0 4rem;
}

.card-excerpt {
    margin: auto 2rem;
    max-height: 30px;
    color: #66bfbf00;
    transition: max-height 0.7s ease-in-out, color 0.7s ease-in-out; ;
}


.card-excerpt:hover {
    transform: translateY(0);
    max-height: 350px;
    color: #66bfbf;
    transition: max-height 0.7s ease-in-out, color 0.7s ease-in-out;
    z-index: 0;
}

.projects-by-me {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.project {
    display: flex;
}

.project-img {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.project-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px;
    padding-bottom: 20px;
    z-index: 0;
    background-color: #061c29;
}

.project-info small {
    color: #aaa;
    margin-top: 5px;
}

.bottom-section {
    margin: 0;
    background-color: #061c29;
    color: #eaf6f6;
    padding-bottom: 50px;
}

.nav-btn {
    color:rgba(0, 0, 0, 0.986);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}

.open-btn {
    opacity: 0.5;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.open-btn:hover {
    color: #fff;
    z-index: 1;
}

.open-btn .visible{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.nav.visible {
    transform: translateX(0);
}

#entireproject.visible {
    transform: translateX(-100%)
}

.nav.open-btn.visible {
    opacity: 0;
}

.nav-black {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.986) ,rgba(17, 42, 54, 0.911));
    width: 60%;
    max-width:240px;
    min-width: 320px;
    transition-delay: 0.4s;
}

.nav-black.visible {
    transition-delay: 0s;
}

.close-btn:hover {
    color: #fff;
    
}

.close-btn {
    opacity: 0.7;
    position: absolute;
    top: 10px;
    right: 30px;
    color: #807cb5;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-top: 80px;
}

.list li {
    display: flex;
    text-align: center;
    margin: 50px 60px;
}

.list li a {
    color:#66bfbf;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.35s;
}

.list li a:hover {
    display: inline-block;
    color: #807cb5;
    transition: 0.35s;
    transform: scale(1.12);
}

.list li a:active {
    transform: scale(0.96);
} 

.list ul {
    list-style-type: none;
    padding-left: 20px;
}

.profile {
    margin: auto;
    margin-bottom: 100px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.constellation {
    width: 115px;
    position: fixed;
    display: block;
    justify-content: center;
    left: 46%;
    top: 46%;
    opacity: 0.15;
    z-index: -4;
    display: none;
}

.pro {
    color: #b5c99a;
    transition: transform .3s ease-out;
    display: inline-block;
}

.pro:hover {
    transition: 0.3s cubic-bezier(0.68, -0.52, 0.68, 0.52);
}

.software:hover {
    color: #b5c99a;
    transition: 0.3s;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.my-skills {
    margin-top: 100px;
    transform: translateY(1px);
}

.coding {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.education-description {
    margin: 0 25% 0 25%;
}

.skill-row { 
    width: 70%;
    margin: 100px auto 100px;
    text-align: center;
}

.teaching {
    margin: 70px auto 80px;
    width: 50%;
}

.aligned {
    display: flex;
    align-items: center;
}

.code-skill-description {
    margin: 0;
    text-align: center;
    padding: 5px 0;
    justify-content: space-between;
}

.skill-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.skill-icons {
    display: flex;
    flex-direction: row;
    width: 156px;
    align-items: center;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.skill-icons:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}
  
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
  
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.educ {
    padding-top: 4rem;
}

.education-description {
    clear: left;
    padding-top: 5px;
}

#contact-me {
    margin-top: 100px;
    width: 50%;
    margin: 70px auto 80px;
}

.btn {
    margin: 30px auto 20px auto;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #7d90ae, #807cb5);
    background-image: -moz-linear-gradient(top, #7d90ae, #807cb5);
    background-image: -ms-linear-gradient(top, #7d90ae, #807cb5);
    background-image: -o-linear-gradient(top, #7d90ae, #807cb5);
    background-image: linear-gradient(to bottom, #7d90ae, #807cb5);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.btn:hover {
    opacity: 0.98;
    background-image: -webkit-linear-gradient(top, #807cb5, #884676);
    background-image: -moz-linear-gradient(top, #807cb5, #884676);
    background-image: -ms-linear-gradient(top, #807cb5, #884676);
    background-image: -o-linear-gradient(top, #807cb5, #884676);
    background-image: linear-gradient(to bottom, #807cb5, #884676);
    text-decoration: none;
    transition: 0.3s;
}

.btn:active {
    font-size: 22px;
    padding: 6px 16px 6px 16px;
}

.bottom-font {
    font-size: 1.25rem;
    margin-bottom: 50px;
    color: #b5c99a;
}

.space-the-button {
    margin-bottom: 0px;
}

.anchor-tag {
    color: #11999E;
}

.footer-link {
    display: inline-block;
    color: #66bfbf;
    margin: auto 30px auto 30px;
    justify-content: center;
    text-decoration: none;
    font-size: 2.5rem;
    transition: 0.3s cubic-bezier(0.68, -0.52, 0.68, 0.52);
}

.footer-link:hover {
    transform: translateY(-5px);
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 40px 0 0px;
}
a:hover {
    color: #b5c99a
}

@media (max-width: 1200px) {
    .constellation {
        width: 100px;
        left: 46%;
        top: 70%;
    }
    .skill-icons {
        width: 145px;
    }
}
@media (max-width: 800px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .constellation {
        width: 100px;
        left: 46%;
        top: 70%;
    }
    .nav-black {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.986) ,rgba(17, 42, 54, 0.911));
        width: 60%;
        max-width: 240px;
        min-width: 320px;
        transition-delay: 0.4s
    }

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .software, .pro {
        font-size: 2.1rem;
    }

    .skill-icons {
        width: 90px;
    }

    .education-description {
        text-align: center;
        clear: left;
        padding-top: 5px;
    }
    
    .footer-link {
        color: #66bfbf;
        margin: auto 22px auto 22px;
        text-decoration: none;
        font-size: 2.8rem;
    }
}

@media (max-width: 400px) {
    .constellation {
        left: 46%;
        top: 46%;
    }

    h1 {
        font-size: 2.7rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .software, .pro {
        font-size: 1.2rem;
    }

    .education-description {
        margin: 15%;
    }
    
    .skill-icons {
        width: 62px;
    }

    #contact-me {
        margin-top: 100px;
        width: 70%;
        margin: 70px auto 80px;
    }
}



/* Form CSS */

form {
    max-width: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    margin: 0 auto 0 auto;
    padding: 40px 0px;
    box-sizing: border-box;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form h1 {
    margin: 0;
    text-align: center;
  }
  
  label {
    color: #66bfbf;
    display: block;
    margin: 20px 0;

  }
  
  input,
  textarea {
    color: #191430;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    /* removes the ability for the textarea box to be. */
    border: none;
    /* border none creates a more stylistic approach. */
    border-bottom: 1px solid #d3d3d3;
    /* border-bottom styling must come after border: none in order to counter aspects of the previous input. */
    border-radius: 10px;
  }
  
  input[type="text"]:focus,
  textarea:focus {
    border-bottom: 1px solid rgba(255, 0, 106);
  }
  
  textarea::-webkit-scrollbar {
    width: 4px;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 106);
    border-radius: 20%;
  }
  
  form .center {
    text-align: center;
  }
  
  .error {
    color: red;
  }
  
  .error-border {
    border-bottom: 1px solid red;
  }
  
  #success {
    color: #28a745;
  }